div#background {
  margin: auto;
  width: 960px;
  height: 490px;
  background-image: url('img/classroom.jpg');
  background-repeat: no-repeat;
  padding-top: 36px;
  padding-left: 240px;
}

#wrap {
  //margin: 100px;
  height: 270px;
  width: 540px;
  background-color: purple;
  float: left;
}

#wrap div {
  height: 20px;
  width: 20px;
  float: left;
}
/*----------------------------------*/

#wrap #top {
  margin: -100px auto auto -10px;
  width: 100px;
  height: 30px;
  padding-top: 7px;
}
#wrap #top img { border-bottom: 2px solid orange; border-top: 3px solid orange;}
#wrap #bot {
  margin: -55px auto auto -10px;
  width: 100px;
  height: 22px;
}

#wrap #desk {
  margin: -33px auto auto -10px;
  width: 105px;
  height: 14px;
  background-color: rgb(153, 128, 102);
}
#wrap #desk1 {
  margin: -19px auto auto -10px;
  width: 100px;
  height: 20px;
  background-color: rgb(165, 98, 82);
}
/*----------------------------------*/

.block {
  border: 0;
  opacity: 1;
  background-color: #000;
}

#buttons {
  width: 500px;
  height: 30px;
  margin: 500px 0px 0px auto;
}

#color div {
  height: 20px;
  width: 20px;
}


/*----------------------------------*/
#wrap #chalkWhite {

}
